The general plan is to analyze the relationship between water fluoridation and dental health outcomes across selected U.S. states. I will compare the percentage of each state's population with access to fluoridated water to the percentage of adults aged 65+ who have lost six or more teeth due to tooth decay or gum disease, as well as to the state's overall ranking in oral health, to identify potential correlations.

In [78]:
import pandas as pd
import json
import requests
import base64
import matplotlib.pyplot as plt
import six
import statsmodels.formula.api as smf
import numpy as np

In [85]:

PaData = pd.read_csv( r"C:\Users\conne\Downloads\ExportCSV.csv")
PaData = PaData.drop(columns=['LocationAbbr','Datasource','Data_Value_Type','Data_Value_Footnote_Symbol','Low_Confidence_Limit','High_Confidence_Limit','Stratification','StratificationType','Sample_Size','IndicatorID','DatasourceText','DatasourceURL','Global_Footnote','Suggested_Citation','Data_Value_Footnote'])
PaData.head(2)

,Year,LocationDesc,Parent1,Indicator,Response,Data_Value_Unit,Data_Value
0,2020.0,Pennsylvania,Adult,Adults aged 65+ who have lost six or more teet...,Yes,%,36.1
1,2020.0,Pennsylvania,Adult,Adults aged 65+ who have lost six or more teet...,No,%,63.9

In [80]:
PaData.keys()

Index(['Year', 'LocationDesc', 'Parent1', 'Indicator', 'Data_Value_Unit',
       'Data_Value'],
      dtype='object')

In [100]:

Pafloride = pd.read_csv( r'C:\Users\conne\Downloads\pafloride.csv')
Pafloride = Pafloride.drop(columns=['LocationAbbr','StateAbbr','DataSource','IndicatorId','TypeOrder','LocationOrder','DatasourceText','DatasourceURL','Global_Footnote','Suggested_Citation','Data_Value_Footnote','Data_Value_Footnote_Symbol','TypeID'])
Pafloride = Pafloride[~Pafloride['Type'].isin(['Adjusted¹', 'Consecutive¹', 'Natural¹'])]
Pafloride.head()

,Year,LocationDesc,Parent1,Indicator,Data_Value_Unit,Data_Value_Type,Data_Value,Type
0,2020.0,Pennsylvania,Water Fluoridation,Percentage of PWS population receiving fluorid...,%,Percent,60.0,Fluoridated
4,2020.0,Pennsylvania,Water Fluoridation,Percentage of PWS population receiving water f...,%,Percent,40.0,Non-Fluoridated¹
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I'm not sure how to remove the bottem 3 rows besides .head(2). I feel like this is contributing to the stuggle of combining them

In [107]:
# Merge the dataframes on 'Year' and 'LocationDesc'
combined_data = pd.merge(PaData[['Year', 'LocationDesc', 'Data_Value']], 
                         Pafloride[['Year', 'LocationDesc', 'Data_Value']], 
                         on=['Year', 'LocationDesc'])

# View the first few rows of the combined data
combined_data.head()

     Year  LocationDesc  Data_Value_x  Data_Value_y
0  2020.0  Pennsylvania          36.1          60.0
1  2020.0  Pennsylvania          36.1          40.0
2  2020.0  Pennsylvania          63.9          60.0
3  2020.0  Pennsylvania          63.9          40.0
4     NaN           NaN           NaN           NaN

I've been having a lot of trouble trying to combine the data, It seems to show the same data twice. The main struggle that I'm trying to navigate is that both data frames represent 2 different things and I'm not sure how to combine them without taking away from what they represent.